<h1 class='title'>Destinations for: 
<%= @list.name %>
<br>

<%= link_to 'Create a new destination', new_list_destination_path(@list) %>
<ul>
  <% @destinations.each do |dest| %>
    <li>
      <div class='list-name'>
      <%= dest.location %>
      - [<%= link_to 'edit', edit_list_destination_path(@list, dest) %>
      ]
    
    </li>
  <% end %>
</ul>